html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: auto;
    font-family: 'montserrat', sans-serif;
}
html a{
    text-decoration: none;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 8px; 
    background: rgb(240, 240, 240);
}
::-webkit-scrollbar-button{
    border-top: rgb(20, 20, 20);
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, rgb(150, 0, 0), rgb(0, 0, 150)); 
}
.link-to-content-up{
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    position: fixed;
    bottom: 50%;
    right: 0px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10000;
}
.link-to-content-up:hover{
    box-shadow: 0px 0px 15px rgb(0, 0, 255, 0.1);
    background-color: rgb(255, 255, 255);
}
.link-to-content-up:hover #arrow-up{
    border: solid rgb(0, 0, 0);
    border-width: 3px 0px 0px 3px;
}
#arrow-up{
    border: solid rgb(255, 255, 255);
    border-width: 3px 0px 0px 3px;
    display: inline-block;
    padding: 11px;
    margin: 13px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#allcontent{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#mdl-ctt-up{
    width: 100%;
    height: auto;
    background-color: #fffffff0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10000;
}
.flex-navbar-logo{
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.l-item{
    margin: 0px 10px 0px 0px;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    font-size: 6pt;
    font-weight: bold;
}
.flex-navbar-logo img{
    width: 40px;
}
.mdl-ctt-up-bx1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.flex-navbar-link{
    display: flex;
    align-items: center;
}
.flex-navbar-link ul{
    list-style: none;
    margin: 0;
}
.flex-navbar-link ul li{
    display: inline-block;
}
.flex-navbar-link a{
    padding: 10px;
    color: rgb(0, 0, 0);
}
.flex-navbar-link a:hover{
    border-bottom: 1.5px solid;
    border-image-source: linear-gradient(75deg, rgb(0, 0, 100), rgb(255, 0, 0));
    border-image-slice: 1;
    box-shadow: 0 8px 3.5px -2px rgba(0, 0, 250, 0.050);
}
button.flex-navbar-link-mobile-button{
    display: none;
}
.flex-navbar-link-mobile{
    display: none;
    height: 0px;
    -webkit-transition: height .2s; 
    -moz-transition: height .2s; 
    -ms-transition: height .2s; 
    -o-transition: height .2s; 
    transition: height .2s;
}


#mdl-ctt-main{
    width: 100%;
    height: auto;
}
.mdl-ctt-main-home-1{
    width: 100%;
    height: 95vh;
    padding-top: 40px;
    background-position: center;
    background-size: cover;
    background-image: url(img/house-1477041.jpg);
}
.mdl-ctt-main-home-1-text{
    width: 60%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.mdl-ctt-main-home-1 video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.mdl-ctt-main-home-1 h2{
    color: rgb(255, 255, 255);
    width: 700px;
    font-size: 40pt;
    text-align: left;
    font-weight: 600;
    text-shadow: 0px 0px 40px rgb(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.mdl-ctt-main-home-1 p{
    color: rgb(255, 255, 255);
    width: 700px;
    text-align: left;
    text-shadow: 0px 0px 40px rgb(0, 0, 0, 0.8);
}

.mdl-ctt-main-home-2{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(160deg, rgb(0, 0, 100), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;

}
.mdl-ctt-main-home-2 h2{
    width: 600px;
    color: rgb(255, 255, 255);
    font-size: 30pt;
    font-weight: 600;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-align: center;
}

.mdl-ctt-main-home-3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mdl-ctt-main-home-3-align{
    width: 95%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5vh auto;
}
.mdl-ctt-main-home-3-align-sub{
    width: 95%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
    margin: 0 auto;
    border-radius: 10px;
}
.mdl-ctt-main-home-3-align-sub::-webkit-scrollbar{
    height: 5px;
    width: 0; 
    background: rgb(200, 200, 200);
    border-radius: 5px;
}
.mdl-ctt-main-home-3-align-sub::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 5px;
}
.mdl-ctt-main-home-3 h2{
    text-align: center;
    margin: 5vh 0px 0px 0px;
    font-weight: 600;
    font-size: 18pt;
}
.mdl-ctt-main-home-3 a{
    padding: 10px;
    border-radius: 7px;
    margin: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.mdl-ctt-main-home-3 a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.m-c-m-h-3-a-s{
    width: 70vw;
    height: 35vh;
    border-radius: 10px;
    transition: height .2s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 0 5vh 0 5vh;
}
#m-c-m-h-3-a-s-1{
    background-image: url(img/pexels-max-home.jpg);
    background-position: center;
    background-size: cover;
}
#m-c-m-h-3-a-s-2{
    background-image: url(img/slide-1-v2-c.jpg);
    background-position: center;
    background-size: cover;
}
#m-c-m-h-3-a-s-3{
    background-image: url(img/1_projeto_residencial-1.jpg);
    background-position: center;
    background-size: cover;
}
#m-c-m-h-3-a-s-4{
    background-image: url(img/2_projeto_residencial-1-1.jpg);
    background-position: center;
    background-size: cover;
}

.mdl-ctt-main-contact-1{
    width: 100%;
    height: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}
.mcmc-map-division{
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcmc-form-division{
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mcmc-map-division-iframe{
    width: 90%;
    height: 90%;
    margin: 0;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}
.contato-sub-info h2{
    text-align: center;
    color: rgb(80, 80, 80);
    font-family: 'Montserrat', sans-serif;
}
.contato-sub-info h1 img{
    padding: 0px 10px 0px 5px;
}
.contato-info{
    border-left: 0.5px solid rgb(190, 190, 190);
}
.form-msg textarea:focus{
    outline: none;
}
.form-msg input:focus{
    outline: none;
}
.form-msg{
    margin:0;
}
.form-msg b{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 11pt;
    font-weight: 500;
    padding-bottom: 0px;
    margin-right: 100px;
}
.cx-msg {
    border-radius: 5px;
    border: 0px solid rgb(190, 190, 190);
    padding: 10px;
    margin-top: 7px;
}
.cx-msg{
    box-shadow: 0px 0px 15px rgba(0, 0, 100, 0.1);
}
.btn-form{border-radius: 30px; background-color: rgb(0, 0, 0); font-family: 'Montserrat', sans-serif;
    color: white; border: 3px solid rgb(0, 0, 0); padding: 7px; cursor: pointer; }
.btn-form2{border-radius: 30px; background-color: rgb(0, 0, 0); font-family: 'Montserrat', sans-serif;
    color: white; border: 3px solid rgb(0, 0, 0); padding: 7px; cursor: pointer; }
.btn-form:hover{ 
    background-color: rgb(0, 200, 0);
    border: 3px solid rgb(0, 200, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.1);
    color: white;
    font-weight: bold;
}
.btn-form2:hover{
    background-color: rgb(255, 0, 0);
    border: 3px solid rgb(255, 0, 0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 100, 0.1);
    color: white;
    font-weight: bold;
}

.mdl-ctt-main-company-1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mcmc-model-text h2{
    height: auto;
    margin: 30px 0px 30px 0px;
}
.mcmc-model-text p{
    height: auto;
    margin: 20px 0px 20px 0px;
}
.mcmc-model-text{
    width: 90%;
    height: 50%;
    margin: 0;
}
.mcmc-model-image{
    width: 90%;
    height: 30%;
    background-image: url(img/logo-northvision-draw-banner.png);
    background-position: center;
    background-size: cover;
    margin: 0;
    border-radius: 10px;
}

.mdl-ctt-main-auto-1{
    width: 100%;
    height: 200px;
    padding-top: 40px;
    background-image: linear-gradient(160deg, rgb(100, 100, 255), rgb(0, 0, 0));
    background-position: center;
    background-size: cover;
}
.mdl-ctt-main-auto-1-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mdl-ctt-main-auto-1 h2{
    color: rgb(255, 255, 255);
    width: 300px;
    font-size: 35pt;
    text-align: center;
    font-weight: 500;
}
.mdl-ctt-main-auto-1 p{
    color: rgb(255, 255, 255);
    margin: 20px 300px 20px 300px;
    text-align: center;
}
.mdl-ctt-main-auto-2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mcma-model-text h2{
    height: auto;
    margin: 30px 0px 30px 0px;
}
.mcma-model-text p{
    height: auto;
    margin: 20px 0px 20px 0px;
}
.mcma-model-text{
    width: 90%;
    height: auto;
    margin: 0;
}

.mdl-ctt-main-news-1{
    width: 100%;
    height: 200px;
    padding-top: 40px;
    background-image: linear-gradient(160deg,rgb(0, 0, 0), rgb(0, 200, 200));
}
.mdl-ctt-main-news-1-text{
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mdl-ctt-main-news-1 h2{
    color: rgb(255, 255, 255);
    margin: 20px 300px 20px 300px;
    font-size: 35pt;
    text-align: center;
    font-weight: 500;
}
.mdl-ctt-main-news-1 p{
    color: rgb(255, 255, 255);
    margin: 20px 300px 20px 300px;
    text-align: center;
}
.mdl-ctt-main-news-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}
.mcmn-model-text{
    width: 90%;
    height: auto;
    margin: 0;
}
.m-c-m-n-2-column{
    width: 30vw;
    height: auto;
}
.m-c-m-n-2-c-g{
    width: auto;
    height: auto;
    background-color: white;
    padding: 25px;
    border-radius: 7px;
    margin: 20px 0px 20px 0px;
}
.m-c-m-n-2-column a{color: black;}
.m-c-m-n-2-c-g-image-input{
    margin: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
}
#m-c-m-n-2-c-1-c-1-i-i{
    height: 20vh;
    background-image: url(img/home-office.jpg);
}
#m-c-m-n-2-c-1-c-2-i-i{
    height: 20vh;
    background-image: url(img/idosos-casa.jpg);
}
#m-c-m-n-2-c-1-c-3-i-i{
    height: 20vh;
    background-image: url(img/telha-solar-ethernit.jpg);
}

#m-c-m-n-2-c-2-c-1-i-i{
    height: 20vh;
    background-image: url(img/ballie-samsung.jpg);
}
#m-c-m-n-2-c-2-c-2-i-i{
    height: 20vh;
    background-image: url(img/home-security.jpg);
}
#m-c-m-n-2-c-2-c-3-i-i{
    height: 20vh;
    background-image: url(img/inteligente-automação.jpeg);
}

#m-c-m-n-2-c-3-c-1-i-i{
    height: 20vh;
    background-image: url(img/arquitetura.jpg);
}
#m-c-m-n-2-c-3-c-2-i-i{
    height: 20vh;
    background-image: url(img/cortinas-motorizadas.jpg);
}
#m-c-m-n-2-c-3-c-3-i-i{
    height: 20vh;
    background-image: url(img/futuro-automação.png);
}

.mdl-ctt-main-dynamic-page-1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mcmdp-model-text h2{
    height: auto;
    margin: 30px 0px 30px 0px;
}
.mcmdp-model-text p{
    height: auto;
    margin: 20px 0px 20px 0px;
}
.mcmdp-model-text{
    width: 90%;
    height: 50%;
    margin: 30px 0px 30px 0px;
}
.mcmdp-model-image{
    width: 90%;
    height: 25vh;
    background-image: url(img/home-office.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    border-radius: 10px;
    margin-top:70px;
}

#mdl-ctt-footer{
    width: 100%;
    height: auto;
}
.mdl-ctt-footer-info{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.mdl-ctt-footer-info-bx1,.mdl-ctt-footer-info-bx2{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.mdl-ctt-footer-info-bx1 h4{
    color: rgb(255, 255, 255);
    margin: 6px 0px 6px 0px;
    font-size: 12pt;
    font-weight: normal;
}
.mdl-ctt-footer-info-bx1-textwidget{
    color: rgba(150, 150, 150);
    font-size: 9pt;
}
.mdl-ctt-footer-info-bx1-textwidget ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mdl-ctt-footer-info-bx3{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}
.m-c-f-i-b-3-brands-space-1,.m-c-f-i-b-3-brands-space-4{
    width: 58%;
    height: 48%;
    background-color: rgb(20, 20, 20);
    border-radius: 7px;
}
.m-c-f-i-b-3-brands-space-2,.m-c-f-i-b-3-brands-space-3{
    width: 38%;
    height: 48%;
    background-color: rgb(20, 20, 20);
    border-radius: 7px;
}
.m-c-f-i-b-3-brands-space-1{
    background-image: url(img/brand1.png);
    background-size: cover;
    background-position: center;
}
.m-c-f-i-b-3-brands-space-2{
    background-image: url(img/brand2.png);
    background-size: cover;
    background-position: center;
}
.m-c-f-i-b-3-brands-space-3{
    background-image: url(img/brand3.png);
    background-size: cover;
    background-position: center;
}
.m-c-f-i-b-3-brands-space-4{
    background-image: url(img/brand4.png);
    background-size: cover;
    background-position: center;
}

.textwidget-adress{
    color: rgb(255, 255, 255);
}
.mdl-ctt-footer-info-bx1-textwidget span a{
    color: rgba(220, 220, 220);
}
.textwidget-adress ul{margin:0;padding:0;list-style: none;}
.mdl-ctt-footer-info-bx2 a{
    color: rgb(255, 255, 255);
    line-height: 20px;
    font-size: 9pt;
    padding: 2px;
    margin: 5px;
}
.mdl-ctt-footer-copy{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: normal;
}
.mdl-ctt-footer-copy img{
    height: 15px;
    margin: 0;
}
.mdl-ctt-footer-copy h6{
    height: 20px;
    margin: 0;
}
.mdl-ctt-footer-copy ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.mdl-ctt-footer-copy ul li{
    padding: 0px 5px 0px 5px;
    list-style: none;
}

/* Animação */

[data-anime] {
    opacity: 0;
    transition: .3s;
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime="top"] {
    transform: translate3d(0, 0px, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }

@media only screen and (max-width: 1279px){

    /*SCROLLBAR*/
    ::-webkit-scrollbar {
        width: unset; 
        background: unset;
    }
    ::-webkit-scrollbar-thumb {
        background: unset; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background-image: unset; 
    }
    .link-to-content-up:hover{
        box-shadow: unset;
    }
    button.flex-navbar-link-mobile-button{
        display: block;
    }

    .flex-navbar-link{display: none;}

    .flex-navbar-link-mobile{
        width: 100%;
        height: 0;
        background-color: rgb(250, 250, 250, 0.9); 
        transition: .5s;
        overflow: hidden;
    }
    .flex-navbar-link-mobile ul{list-style: none;}
    .flex-navbar-link-mobile ul li{line-height: 25px;}
    .flex-navbar-link-mobile ul li a{
        color: rgb(0, 0, 0);
    }
    button.flex-navbar-link-mobile-button{
        width: 40px;
        height: 40px;
        background-color: unset;
        border: unset;
        cursor: pointer;
    }

    span.flex-navbar-link-mobile-tag{
        width: 30px;
        height: 3px;
        background-color: teal;
        border-radius: 100px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }

    .flex-navbar-link-mobile-tag #fnlmt-1{
        transform: matrix(1, 0, 0, 1, 6, 6)rotate(45deg);
    }
    .flex-navbar-link-mobile-tag #fnlmt-3{
        transform: matrix(1, 0, 0, 1, 6, -1)rotate(-45deg);
    }
    .flex-navbar-link-mobile-tag #fnlmt-2{
        display: none;
    }

    .mdl-ctt-main-home-1-text{
        width: 90%;
    }
    .mdl-ctt-main-home-1 h2{
        color: rgb(255, 255, 255);
        width: 70vw;
        font-size: 35pt;
        text-align: left;
        font-weight: 600;
    }
    .mdl-ctt-main-home-1 p{
        color: rgb(255, 255, 255);
        width: 70vw;
        text-align: left;
    }
    .mdl-ctt-main-home-2 h2{
        width: 500px;
        color: rgb(255, 255, 255);
        font-size: 20pt;
        font-weight: 600;
        letter-spacing: 15px;
        text-transform: uppercase;
        text-align: center
    }

    .mdl-ctt-main-home-3{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mdl-ctt-main-home-3-align{
        width: 95%;
        height: 95%;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        margin: 5vh auto;
    }
    .mdl-ctt-main-home-3-align-sub{
        width: 95%;
        height: 250px;
        margin: 0 auto;
        margin-right: 2.5%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: scroll;
    }
    .mdl-ctt-main-home-3-align h2{
        width: 100%;
        height: 5%;
        text-align: center;
        margin: 2vh 0vh 2vh 0vh;
    }
    .m-c-m-h-3-a-s{
        width: 80vw;
        height: 90%;
        border-radius: 10px;
        box-shadow: none;
        margin: 2.5vh;
    }
    .mdl-ctt-main-contact-1{
        width: 100%;
        height: auto;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .mcmc-map-division{
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mcmc-form-division{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mcmc-map-division-iframe{
        width: 90%;
        height: 90%;
        margin: 0;
        box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .form-msg input{
        size: 45px;
    }
    .mdl-ctt-main-company-1{
        width: 100%;
        height: 800px;
    }
    .mcmc-model-image{
        height: 10%;
    }
    .mcmc-model-text{
        height: 75%;
    }

    .mdl-ctt-main-auto-1{
        width: 100%;
        height: 200px;
        padding-top: 40px;
        background-image: url(img/pexels-max-home-2.jpg);
        background-position: center;
        background-size: cover;
    }
    .mdl-ctt-main-auto-1-text{
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.1);
        -webkit-backdrop-filter: brightness(0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mdl-ctt-main-auto-1 h2{
        color: rgb(255, 255, 255);
        margin: 20px 300px 20px 300px;
        font-size: 35pt;
        text-align: center;
        font-weight: 500;
    }
    .mdl-ctt-main-auto-1 p{
        color: rgb(255, 255, 255);
        margin: 20px 300px 20px 300px;
        text-align: center;
    }
    .mdl-ctt-main-auto-2{
        width: 100%;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mcma-model-text h2{
        height: auto;
        margin: 30px 0px 30px 0px;
    }
    .mcma-model-text p{
        height: auto;
        margin: 20px 0px 20px 0px;
    }
    .mcma-model-text{
        width: 90%;
        height: auto;
        margin: 0;
    }
    .mdl-ctt-main-news-1{
        width: 100%;
        height: 200px;
        padding-top: 40px;
        background-image: linear-gradient(160deg, rgb(150, 0, 0), rgb(0, 0, 100));
    }
    .mdl-ctt-main-news-1-text{
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mdl-ctt-main-news-1 h2{
        color: rgb(255, 255, 255);
        margin: 10px 20px 10px 20px;
        font-size: 30pt;
        text-align: center;
        font-weight: 500;
    }
    .mdl-ctt-main-news-1 p{
        color: rgb(255, 255, 255);
        margin: 10px 30px 10px 30px;
        text-align: center;
    }
    .mdl-ctt-main-news-2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-around;
    }
    .mcmn-model-text{
        width: 90%;
        height: auto;
        margin: 0;
    }
    .m-c-m-n-2-column{
        width: 90vw;
        height: auto;
    }
    .m-c-m-n-2-c-g{
        width: auto;
        height: auto;
        background-color: white;
        padding: 25px;
        border-radius: 5px;
        margin: 20px 0px 20px 0px;
    }
    .textwidget-adress{
        color: rgb(255, 255, 255);
    }
    .textwidget-adress p{margin: 0;}

    .mdl-ctt-footer-info{
        width: 100%;
        height: auto;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mdl-ctt-footer-info-bx1,.mdl-ctt-footer-info-bx2{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .mdl-ctt-footer-info-bx1 h4{
        color: rgb(255, 255, 255);
        margin: 6px 0px 6px 0px;
        font-size: 12pt;
        font-weight: normal;
    }
    .mdl-ctt-footer-info-bx1-textwidget{
        color: rgba(150, 150, 150);
        font-size: 9pt;
    }
    .mdl-ctt-footer-info-bx2 a{
        color: rgb(255, 255, 255);
        line-height: 25px;
        font-size: 9pt;
        padding: 10px;
        margin: 4px;
        text-align: center;
        border: none;
        background-color: rgb(10, 10, 10);
        border-radius: 7px;
    }
    .mdl-ctt-footer-info-bx3{
        width: 90vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-around;
    }
    .mdl-ctt-footer-info-bx1,.mdl-ctt-footer-info-bx2,.mdl-ctt-footer-info-bx3{
        margin: 7px 0px 7px 0px
    }
    .mdl-ctt-footer-copy{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: normal;
    }
    .mdl-ctt-footer-copy img{
        height: 15px;
        margin: 0;
    }
    .mdl-ctt-footer-copy h6{
        height: 20px;
        margin: 0;
    }
    .mdl-ctt-footer-copy ul{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 15px;
    }
    .mdl-ctt-footer-copy ul li{
        padding: 0px 5px 0px 5px;
        list-style: none;
    }

}
