html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: auto;
    font-family: 'montserrat', sans-serif;
}
html a{
    text-decoration: none;
}
/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px; 
    background: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(180deg, rgb(150, 0, 0), rgb(0, 0, 150)); 
}
.link-to-content-up{
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    position: fixed;
    bottom: 50%;
    right: 0px;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
    background-color: rgb(0, 0, 0);
}
.link-to-content-up:hover{
    box-shadow: 0px 0px 15px rgb(0, 0, 255, 0.1);
    background-color: rgb(255, 255, 255);
}
.link-to-content-up:hover #arrow-up{
    border: solid rgb(0, 0, 0);
    border-width: 3px 0px 0px 3px;
}
#arrow-up{
    border: solid rgb(255, 255, 255);
    border-width: 3px 0px 0px 3px;
    display: inline-block;
    padding: 11px;
    margin: 13px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#allcontent{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#mdl-ctt-up{
    width: 100%;
    height: auto;
    background-color: #fffffff0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
.flex-navbar-logo{
    width: 20%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.l-item{
    margin: 0px 10px 0px 0px;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
    font-size: 6pt;
    font-weight: bold;
}
.flex-navbar-logo img{
    width: 40px;
}
.mdl-ctt-up-bx1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.flex-navbar-link{
    display: flex;
    align-items: center;
}
.flex-navbar-link ul{
    list-style: none;
    margin: 0;
}
.flex-navbar-link ul li{
    display: inline-block;
}
.flex-navbar-link a{
    padding: 10px;
    color: rgb(0, 0, 0);
}
.flex-navbar-link a:hover{
    border-bottom: 1.5px solid;
    border-image-source: linear-gradient(75deg, rgb(0, 0, 100), rgb(255, 0, 0));
    border-image-slice: 1;
    box-shadow: 0 8px 3.5px -2px rgba(0, 0, 250, 0.050);
}
button.flex-navbar-link-mobile-button{
    display: none;
}
.flex-navbar-link-mobile{
    width: 0%;
    height: 0px;
    display: none;
}
#mdl-ctt-main{
    width: 100%;
    height: 500px;
}

#mdl-ctt-footer{
    width: 100%;
    height: auto;
}
.mdl-ctt-footer-info{
    width: 100%;
    height: 200px;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.mdl-ctt-footer-info-bx1,.mdl-ctt-footer-info-bx2{
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.mdl-ctt-footer-info-bx1 h4{
    color: rgb(255, 255, 255);
    margin: 6px 0px 6px 0px;
    font-size: 12pt;
    font-weight: normal;
}
.mdl-ctt-footer-info-bx1-textwidget{
    color: rgba(150, 150, 150);
    font-size: 9pt;
}
.textwidget-adress{
    color: rgb(255, 255, 255);
}
.textwidget-adress p{margin: 0;}
.mdl-ctt-footer-info-bx2 a{
    color: rgb(255, 255, 255);
    line-height: 20px;
    font-size: 9pt;
    padding: 2px;
    margin: 5px;
}
.mdl-ctt-footer-copy{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: normal;
}
.mdl-ctt-footer-copy img{
    height: 15px;
    margin: 0;
}
.mdl-ctt-footer-copy h6{
    height: 20px;
    margin: 0;
}
.mdl-ctt-footer-copy ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.mdl-ctt-footer-copy ul li{
    padding: 0px 5px 0px 5px;
    list-style: none;
}

@media only screen and (max-width: 600px){

    /*SCROLLBAR*/
    ::-webkit-scrollbar {
        width: unset; 
        background: unset;
    }
    ::-webkit-scrollbar-thumb {
        background: unset; 
    }
    ::-webkit-scrollbar-thumb:hover {
        background-image: unset; 
    }
    .link-to-content-up:hover{
        box-shadow: unset;
    }
    button.flex-navbar-link-mobile-button{
        display: block;
    }

    .flex-navbar-link{display: none;}

    .flex-navbar-link-mobile{
        width: 100%;
        height: auto;
        background-color: rgb(250, 250, 250, 0.9);
    }
    .flex-navbar-link-mobile ul{list-style: none;}
    .flex-navbar-link-mobile ul li{line-height: 25px;}
    .flex-navbar-link-mobile ul li a{
        color: rgb(0, 0, 0);
        border-bottom: 1.5px solid;
        border-image-source: linear-gradient(90deg, rgb(0, 0, 100), rgb(255, 0, 0));
        border-image-slice: 1;
    }
    button.flex-navbar-link-mobile-button{
        width: 40px;
        height: 40px;
        background-color: unset;
        border: unset;
        cursor: pointer;
    }

    span.flex-navbar-link-mobile-tag{
        width: 30px;
        height: 3px;
        background-color: teal;
        border-radius: 100px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .mdl-ctt-footer-info{
        width: 100%;
        height: 400px;
        background-color: rgb(15, 15, 15);
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mdl-ctt-footer-info-bx1,.mdl-ctt-footer-info-bx2{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .mdl-ctt-footer-info-bx1 h4{
        color: rgb(255, 255, 255);
        margin: 6px 0px 6px 0px;
        font-size: 12pt;
        font-weight: normal;
    }
    .mdl-ctt-footer-info-bx1-textwidget{
        color: rgba(150, 150, 150);
        font-size: 9pt;
    }
    .textwidget-adress{
        color: rgb(255, 255, 255);
    }
    .textwidget-adress p{margin: 0;}
    .mdl-ctt-footer-info-bx2 a{
        color: rgb(255, 255, 255);
        line-height: 25px;
        font-size: 9pt;
        padding: 4px;
        margin: 4px;
        text-align: center;
        border-bottom: 1px solid;
        border-image-source: linear-gradient(90deg, rgb(0, 0, 100), rgb(200, 0, 0));
        border-image-slice: 1;
    }
    .mdl-ctt-footer-copy{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: normal;
    }
    .mdl-ctt-footer-copy img{
        height: 15px;
        margin: 0;
    }
    .mdl-ctt-footer-copy h6{
        height: 20px;
        margin: 0;
    }
    .mdl-ctt-footer-copy ul{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 15px;
    }
    .mdl-ctt-footer-copy ul li{
        padding: 0px 5px 0px 5px;
        list-style: none;
    }

}